Iniciar zookeeper `bin/windows/zookeeper-server-start.bat config/zookeeper.properties` 

Iniciar Kafa `bin/windows/kafka-server-start.bat config/server.properties`

Doc lib Kafka    `https://kafka-python.readthedocs.io/en/master/apidoc/KafkaConsumer.html`

<h3>Importação das bibliotecas e Configs

In [1]:
# importando a lib KafkaConsumer

from kafka import KafkaConsumer
import pandas as pd

In [2]:
# Criando o consumer

consumer = KafkaConsumer('estudos', bootstrap_servers=['localhost:9092'])

In [3]:
consumer

Consumindo os valores em Tempo Real e adicionando em uma lista

In [ ]:
valores = []

for i in consumer:
    print(i.topic)
    print(i.value)
    valores.append(i.value)

In [6]:
type(valores)

list

In [28]:
# Verificando o tamanho dos registros adicionados
len(valores)

300000

In [29]:
valores_dict = {"id_sensor": [], "id_equipamento": [], "sensor": [], "data_evento": [], "padrao": [] }

for i in valores:
    # aux = i
    aux = i.decode()
    aux_d = eval(aux)
    valores_dict["id_sensor"].append(aux_d['id_sensor'])
    valores_dict["id_equipamento"].append(aux_d['id_equipamento'])
    valores_dict["sensor"].append(aux_d['sensor'])
    valores_dict["data_evento"].append(aux_d['data_evento'])
    valores_dict["padrao"].append(aux_d['padrao'])

In [30]:
df = pd.DataFrame(valores_dict)
df2 = pd.json_normalize(df.padrao)
df['temperatura'] = df2['leitura.temperatura']
df = df.drop(columns='padrao')
df.sample(5)

,id_sensor,id_equipamento,sensor,data_evento,temperatura
149179,S-ESTUDOS-032023-774CT,E-ESTUDOS-032023-774CT,sensor20,2023-03-12T11:36:36.502906Z,50.1
238495,S-ESTUDOS-032023-824PN,E-ESTUDOS-032023-824PN,sensor15,2023-03-12T11:36:50.413064Z,54.7
82404,S-ESTUDOS-032023-644JL,E-ESTUDOS-032023-644JL,sensor50,2023-03-12T11:36:17.228955Z,58.3
173407,S-ESTUDOS-032023-042UG,E-ESTUDOS-032023-042UG,sensor6,2023-03-12T11:36:37.728230Z,67.3
35376,S-ESTUDOS-032023-668CY,E-ESTUDOS-032023-668CY,sensor4,2023-03-12T11:36:15.236346Z,75.9

In [31]:
df.shape

(300000, 5)

In [32]:
#verificando ocorrências de sensores que apresentaram a temperatura superior a 75° C
df.query('temperatura > 75')

,id_sensor,id_equipamento,sensor,data_evento,temperatura
4,S-ESTUDOS-032023-331RS,E-ESTUDOS-032023-331RS,sensor34,2023-03-12T11:36:14.146832Z,87.2
17,S-ESTUDOS-032023-732WM,E-ESTUDOS-032023-732WM,sensor7,2023-03-12T11:36:14.146832Z,82.5
28,S-ESTUDOS-032023-112SG,E-ESTUDOS-032023-112SG,sensor11,2023-03-12T11:36:14.147831Z,77.1
29,S-ESTUDOS-032023-106PK,E-ESTUDOS-032023-106PK,sensor28,2023-03-12T11:36:14.147831Z,75.3
54,S-ESTUDOS-032023-477DH,E-ESTUDOS-032023-477DH,sensor34,2023-03-12T11:36:14.147831Z,85.8
...,...,...,...,...,...
299982,S-ESTUDOS-032023-071YE,E-ESTUDOS-032023-071YE,sensor13,2023-03-12T11:36:54.033487Z,79.5
299983,S-ESTUDOS-032023-673UH,E-ESTUDOS-032023-673UH,sensor11,2023-03-12T11:36:54.033487Z,76.1
299989,S-ESTUDOS-032023-865CR,E-ESTUDOS-032023-865CR,sensor7,2023-03-12T11:36:54.033487Z,76.9
299992,S-ESTUDOS-032023-467UH,E-ESTUDOS-032023-467UH,sensor7,2023-03-12T11:36:54.033487Z,81.8
299993,S-ESTUDOS-032023-032DD,E-ESTUDOS-032023-032DD,sensor28,2023-03-12T11:36:54.033487Z,77.3